<h1 class="display-4">Products</h1>
<table class="table table-striped">
  <thead>
    <th>#</th>
    <th>Product Name</th>
    <th>Product Code</th>
    <th>Price</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% products.forEach(function(product){ %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.productCode %></td>
      <td><%= product.price %></td>
      <td>
        <a href="/product/<%= product.id %>/edit" class="btn btn-primary">Edit</a>
        <form class="d-inline" action="/product/delete/<%= product.id %>" method="post">
          <input type="submit" value="Delete" class="btn btn-danger">
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
